#text{
    display: block;
    position: relative;
    left: 120px;
    bottom: 35px;
}
#text_pre{
    display: block;
    position: relative;
    left: 135px;
    top: 40px;
    bottom: 20px;
}
#text_age{
    display: block;
    position: relative;
    bottom: 35px;
    left: 120px;
}
#text_num{
    display: block;
    position: relative;
    bottom: 35px;
    left: 130px;
}
#text_email{
    display: block;
    position: relative;
    top: 10px;
    left: 125px;
}